<header class="jumbotron subhead">
      <img class="img-circle" src="images/events.png" width="90" height="90" style="float:left">
    <h2>Tournament Results</h2>
</header>

<div class="row">
    <div class="col-md-3">
        <div class="well">
            <h4 id="helptitle">Tournament Results</h4>
            <p>This is a where you can also find current and historical tournament results.</p>
        </div>
    </div>
    <div class="col-md-9" id="index">
    </div>
</div>
