  <div class="row">
    <div class="col-md-2 hidden-phone">
      <img class="img-polaroid" src="assets/img/jumbotron-ball.png" />
    </div>
    <div class="col-md-10">
      <h2>Westwood Men&#39s Golf Association</h2>
      <p class="hidden-phone">Welcome to the Westwood Men&#39s Golf Association.  WMGA is affiliated with the Westwood Park Golf Course in Norman, OK. We have Thursday night and Saturday morning leagues that hold tournaments and events from March through October. If you live in Norman or the surrounding area come out and join the association and participate in some events.</p>
      <a href="registermember.html" class="btn btn-primary">Sign Up Now &raquo;</a> or <a href="javascript:$.showUserProfile()" class="btn btn-primary">Renew Membership &raquo;</a>
    </div>
  </div>
