<h2>We found it!</h2>
<p>Please enter your password to sign into the site and complete the sign up.</p>
<form role="form">
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
</form>
<p>
    <a class="btn btn-primary" role="button">Next &raquo;</a>
</p>
