<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default active">
        <input type="radio" name="options" id="upcoming"> All
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="recent"> Recent
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="past"> Past
    </label>
</div>
<a href="#news/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Article</a>
<br><br>
<div class="container">
</div>
