<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default active">
        <input type="radio" name="options" id="upcoming"> All
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="recent"> Recent
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="past"> Past
    </label>
</div>
<a href="#news/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Article</a>
<br><br>
<table class="table">
    <tbody id="article-list">
        <% collection.forEach(function(item) { %>
            <tr>
                <td style="width: 10%"><b><%= item.get('itemdate') %></b></td>
                <td><a href="#news/read/<%=item.id%>"><%= item.get('title') %></a></td>
            </tr>
            <tr>
                <td colspan="2" class="well"><%= item.get('description') %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
