<header class="jumbotron subhead">
    <div class="contact-img-title"/>
    <h2>Teams</h2>
</header>

<div class="row">
    <div class="col-md-3">
        <div class="well">
            <h4 id="helptitle">Teams</h4>
            <p>Use this page to sign up a Thrusday Night Team.  There is an annual membership cost required to register a team.  The team manager is responsible for signing up a team and managing the team roster.  Thursday night points will only count for members on the roster.  Members must first register before they can be added to a team roster.</p>
        </div>
    </div>
    <div class="col-md-9" id="index">
    </div>
</div>
