<form class="form-inline" role="form">
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="text" class="form-control" placeholder="Search" style="width: 500px">
    </div>
  <a href="#users/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> User</a>
</form>
<hr/>
<div class="container"></div>
