<header class="subhead">
    <div class="container">
        <h2>Event Calendar</h2>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <h4 id="helptitle">Event Calendar</h4>
                <p>The event calendar is a list of WMGA tournaments and events that are taking place this season.&nbsp; This calendar also includes all Westwood Golf Course events as well.&nbsp;</p>
            </div>
        </div>
        <div class="col-md-9">

            <div class="btn-toolbar">
                <a href="eventform.html" class="btn btn-success hide role-administrator"><i class="icon-plus icon-white"></i> Add Event</a>
                <a href="#recent-events" class="btn btn-default">Upcoming</a>
                <a href="#recent-events" class="btn btn-default">Recent</a>
                <a href="#past-events" class="btn btn-default">Past</a>
            </div>

            <section id="event-list">
            </section>

        </div>
    </div>
</div>
