<header class="jumbotron subhead">
      <img class="img-circle" src="images/events.png" width="90" height="90" alt="Events" style="float:left">
    <h2>Event Calendar</h2>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <h4 id="helptitle">Event Calendar</h4>
                <p>The event calendar is a list of WMGA tournaments and events that are taking place this season.&nbsp; This calendar also includes all Westwood Golf Course events as well.&nbsp;</p>
            </div>
        </div>
        <div class="col-md-9">

            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="options" id="upcoming"> Upcoming
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="recent"> Recent
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="past"> Past
                </label>
            </div>
            <a href="#events-add" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Event</a>

        <section id="event-list">
        </section>

    </div>
</div>
